---
const links = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About",
    href: "/#about",
  },
  { name: "Projects", href: "/#projects" },
  { name: "Experience", href: "/#experience" },
  { name: "Education", href: "/#education" },
  { name: "Contact", href: "/#contact" },
];
---

<nav>
  <div class="container nav-inner">
    <a href="/" class="logo">Ellie Vrankovich</a>

    <ul class="nav-links">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);

    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .nav-links {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .nav-links a {
    text-decoration: none;
    color: #111;
    transition: opacity 0.2s;
  }

  .nav-links a:hover {
    opacity: 0.6;
  }

  .logo {
    font-weight: 700;
    font-size: 16px;
    color: #111;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
</style>
