---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>
      &copy; Designed and Built by Ellie Vrankovich {currentYear}. All rights
      reserved.
    </p>
  </div>
</footer>

<style>
  footer {
    padding: 40px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 80px;
    font-size: 14px;
    color: #000000; /* Solid Black */
    text-align: center; /* Centers the text */
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }
</style>
