---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Access to Justice</h2>
    <p>
      Focused on reducing barriers to legal information by helping people
      understand their rights, options, and next steps within complex systems.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Community-Facing Work</h2>
    <p>
      Frontline experience supporting members of the public through advisory
      services, client intake, and referral pathways.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Clear Communication</h2>
    <p>
      Dedicated to translating complex legal and procedural information into
      language that is clear, accessible, and respectful.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
